@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peak Films</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Box Office Hits</h2>
        <p>
            Peak Films has comfortable lounge seats and all of the latest films.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tasty Concessions</h2>
        <p>Buy your favorite movie snacks at our concessions stand.</p>
    </div>
    <div class="col-md-4">
        <h2>Coffee Bar</h2>
        <p>Visit our coffee bar for your favorite espresso drink.</p>
    </div>
</div>